#input {
	background-color: #4cb4c7;
	/* background-color: #ae57ff; */
	
}

#output {
    /* background-color: #7CD1C0; */
    background-color: rgb(40, 104, 160);
}

body {
	background-color: #ebeff5;
	background-color: whitesmoke;
	/* background-color: #F99595; */
	/* background-color: #FFD7FF; */
}